.table {
  border: 1px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 95%;
  height: 595px;
  margin: 25px;
}

.num-input {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}

.num-input input {
  height: 20px;
  width: 40px;
}

button {
  margin: 8px;
}

.dropdown {
  margin: 8px;
  height: 25px;
}

.dropdown select {
  height: 100%;
  /* padding: 5px; */
}

hr {
  width: 90%;
  margin: 7px
}

.bottom-interface {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.bottom-interface.column p {
  margin-left: 130px;
  margin-right: 130px;
}

.column {
  flex-direction: column;
}

button {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.tooltip {
  text-align: center;
  line-height: 5px;
}

.aspect {
  height: 25px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.checkbox-bottom-ui {
  height: 40px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 260px;
}

.embodiments-box {
  display: flex;
  margin-left: 10px;
  width: 90px;
  flex-direction: row-reverse;
}

.embodiment {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid;
  margin-left: 3px;
}

.embodiment p {
  margin: 0;
  text-align: center;
}

.force {
  border-color: red;
}

.entropy {
  border-color: purple;
}

.form {
  border-color: green;
}

.inertia {
  border-color: #114f9c;
}

.life {
  border-color: #baae00;
}

.aspect-column {
  border: 1px solid gray;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
